<div class="container">
  <div class="collection">
    <a href="/design/1">
      <div class="table" id="1">
        <%= image_pack_tag("media/images/table1.jpeg") %>
        <span>Name or description</span>
      </div>
    </a>
    <a href="/design/2">
      <div class="table" id="2">
        <%= image_pack_tag("media/images/table1.jpeg") %>
        <span>Name or description</span>
      </div>
    </a>
    <a href="/design/3">
      <div class="table" id="3">
        <%= image_pack_tag("media/images/table1.jpeg") %>
        <span>Name or description</span>
      </div>
    </a>
    <a href="/design/4">
      <div class="table" id="4">
        <%= image_pack_tag("media/images/table1.jpeg") %>
        <span>Name or description</span>
      </div>
    </a>
    <a href="/design/5">
      <div class="table" id="5">
        <%= image_pack_tag("media/images/table1.jpeg") %>
        <span>Name or description</span>
      </div>
    </a>
    <a href="/design/6">
      <div class="table" id="6">
        <%= image_pack_tag("media/images/table1.jpeg") %>
        <span>Name or description</span>
      </div>
    </a>
    <a href="/design/7">
      <div class="table" id="7">
        <%= image_pack_tag("media/images/table1.jpeg") %>
        <span>Name or description</span>
      </div>
    </a>
    <a href="/design/8">
      <div class="table" id="8">
        <%= image_pack_tag("media/images/table1.jpeg") %>
        <span>Name or description</span>
      </div>
    </a>
    <a href="/design/9">
      <div class="table" id="9">
        <%= image_pack_tag("media/images/table1.jpeg") %>
        <span>Name or description</span>
      </div>
    </a>
    <a href="/design/10">
      <div class="table" id="10">
        <%= image_pack_tag("media/images/table1.jpeg") %>
        <span>Name or description</span>
      </div>
    </a>
    <a href="/design/11">
      <div class="table" id="11">
        <%= image_pack_tag("media/images/table1.jpeg") %>
        <span>Name or description</span>
      </div>
    </a>
    <a href="/design/12">
      <div class="table" id="12">
        <%= image_pack_tag("media/images/table1.jpeg") %>
        <span>Name or description</span>
      </div>
    </a>
  </div>
</div>
